In [10]:
# %load panda31.py
import pandas as pd
s=pd.Series([1,2,3,4])
result=s.apply(lambda x : x**2)
print(result)
df=pd.DataFrame({
    'A':[1,2,3],
    'B':[10,20,30]
})
print(df)
result=df.apply(sum,axis=0)
print(result)
result=df.apply(sum,axis=1)
print(result)

0     1
1     4
2     9
3    16
dtype: int64
   A   B
0  1  10
1  2  20
2  3  30
A     6
B    60
dtype: int64
0    11
1    22
2    33
dtype: int64

In [11]:
# %load panda32.py
import pandas as pd
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
print(df)
df['add']=df['A']+df['B']+df['C']
print(df)
import numpy as np
df['np_add_1']=np.sum(df[['A','B','C']].values,axis=1)
print(df)
df['np_add_0']=np.sum(df[['A','B','C']].values,axis=0)
print(df)
res=[]
for row in df.itertuples(index=False):
    res.append(row.A+row.B+row.C)
df['res_add']=res
print(df)
df['list_add'] = [a + b + c for a, b, c in zip(df['A'], df['B'], df['C'])]
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18
   A  B  C  add  np_add_1
0  1  4  7   12        12
1  2  5  8   15        15
2  3  6  9   18        18
   A  B  C  add  np_add_1  np_add_0
0  1  4  7   12        12         6
1  2  5  8   15        15        15
2  3  6  9   18        18        24
   A  B  C  add  np_add_1  np_add_0  res_add
0  1  4  7   12        12         6       12
1  2  5  8   15        15        15       15
2  3  6  9   18        18        24       18
   A  B  C  add  np_add_1  np_add_0  res_add  list_add
0  1  4  7   12        12         6       12        12
1  2  5  8   15        15        15       15        15
2  3  6  9   18        18        24       18        18

In [12]:
# %load panda33.py
import pandas as pd
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None])
print(sr)
index_=pd.date_range('2010-10-09 8:35',periods=11,freq='Y')
sr.index=index_
print(sr)
result = sr.apply(lambda x : True if x>30 else False)

print(result)

0     11.0
1     21.0
2      8.0
3     18.0
4     65.0
5     18.0
6     32.0
7     10.0
8      5.0
9     32.0
10     NaN
dtype: float64
2010-12-31 08:35:00    11.0
2011-12-31 08:35:00    21.0
2012-12-31 08:35:00     8.0
2013-12-31 08:35:00    18.0
2014-12-31 08:35:00    65.0
2015-12-31 08:35:00    18.0
2016-12-31 08:35:00    32.0
2017-12-31 08:35:00    10.0
2018-12-31 08:35:00     5.0
2019-12-31 08:35:00    32.0
2020-12-31 08:35:00     NaN
Freq: YE-DEC, dtype: float64
2010-12-31 08:35:00    False
2011-12-31 08:35:00    False
2012-12-31 08:35:00    False
2013-12-31 08:35:00    False
2014-12-31 08:35:00     True
2015-12-31 08:35:00    False
2016-12-31 08:35:00     True
2017-12-31 08:35:00    False
2018-12-31 08:35:00    False
2019-12-31 08:35:00     True
2020-12-31 08:35:00    False
Freq: YE-DEC, dtype: bool

/tmp/ipykernel_33739/3346477102.py:5: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  index_=pd.date_range('2010-10-09 8:35',periods=11,freq='Y')

In [13]:
# %load panda34.py
import pandas as pd
df=pd.read_csv("nba.csv")
print(df[:10])
result=df.select_dtypes(include='number').aggregate(['sum','min'])
print(result)
result=df.aggregate({"Number":['sum', 'min'], 
              "Age":['max', 'min'], 
              "Weight":['min', 'sum'],  
              "Salary":['sum']})
print(result)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0
     Number      Age    Weight        Salary
sum  8079.0  12311.0  101236.0  2.159837e+09
min     0.0     19.0     161.0  3.088800e+04
     Number   Age    Weight        Salary
sum  8079.0   NaN  101236.0  2.159837e+09
min     0.0  19.0     161.0           NaN
max     NaN  40.0       NaN           NaN

In [14]:
# %load panda35.py
import pandas as pd

df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                "B":[5, 2, 54, 3, None],
                "C":[20, 16, 7, None, 8],
                "D":[14, None, 17, 2, 6]})

print(df)
ss1=df.mean(axis=0)
print(ss1)
ss2=df.mean(axis=1,skipna=True)
print(ss2)
#now applying on this only
sm1=ss1.mean()
sm2=ss2.mean(skipna=True)
print(sm1)
print(sm2)

      A     B     C     D
0  12.0   5.0  20.0  14.0
1   4.0   2.0  16.0   NaN
2   5.0  54.0   7.0  17.0
3   NaN   3.0   NaN   2.0
4   1.0   NaN   8.0   6.0
A     5.50
B    16.00
C    12.75
D     9.75
dtype: float64
0    12.750000
1     7.333333
2    20.750000
3     2.500000
4     5.000000
dtype: float64
11.0
9.666666666666666

In [15]:
# %load panda36.py
import pandas as pd

df = pd.read_csv("nba.csv")
print(df)
print(df.select_dtypes(include='number').sem(axis=0))
print(df.select_dtypes(include='number').sem(axis = 1))

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]
Number         0.746862
Age            0.206011
Weight         1.233459
Salary    247611.576815
dtype: float64
0      1.932567e+06
1      1.698999e+06
2      5.883971e+01
3      2.871404e+05
4      1.249978e+06
           ...
453    6.083135e+05
454    2.249810e+05
455    7.249748e+05
456    2.367956e+05
457             NaN
Length: 458, dtype: float64

In [16]:
# %load panda37.py
import pandas as pd
sr=pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon'])
print(sr)
print(sr.value_counts())
sr = pd.Series([100, 214, 325, 88, None, 325, None, 325, 100])
print(sr)
print(sr.value_counts())

0    New York
1     Chicago
2     Toronto
3      Lisbon
4         Rio
5     Chicago
6      Lisbon
dtype: object
Chicago     2
Lisbon      2
New York    1
Toronto     1
Rio         1
Name: count, dtype: int64
0    100.0
1    214.0
2    325.0
3     88.0
4      NaN
5    325.0
6      NaN
7    325.0
8    100.0
dtype: float64
325.0    3
100.0    2
214.0    1
88.0     1
Name: count, dtype: int64

In [17]:
# %load panda38.py
import pandas as pd
import numpy as np
idx=pd.Index(['Python','Java','php'])
print(idx.value_counts())
a=pd.Index(['py','java','py'])
print(a.value_counts())
print(a.value_counts(normalize=True))
print(a.value_counts(sort=True))
print(a.value_counts(ascending=True))

Python    1
Java      1
php       1
Name: count, dtype: int64
py      2
java    1
Name: count, dtype: int64
py      0.666667
java    0.333333
Name: proportion, dtype: float64
py      2
java    1
Name: count, dtype: int64
java    1
py      2
Name: count, dtype: int64

In [18]:
# %load panda39.py
import pandas as pd
import numpy as np
a = pd.Index(['apple', np.nan, 'banana', np.nan])
print(a.value_counts(dropna=False))

b = pd.Index([5, 15, 25, 10])
print(b.value_counts(bins=2))

NaN       2
apple     1
banana    1
Name: count, dtype: int64
(4.979, 15.0]    3
(15.0, 25.0]     1
Name: count, dtype: int64