In [27]:
# %load panda15.py
import pandas as pd
data={'Name': ['ud','bh','av'],
      'Age' : [11,13,15],
      'class': [6,8,10],
      'subject':['math','science','sst']}
df=pd.DataFrame(data)
print(df)
df1=df[['Name','subject']]
print(df1)
df2=df[df.columns[1:4]]
print(df2)
df3=df.loc[1:2,['Name','Age']]
print(df3)
df4=df.loc[1:2]
print(df4)
df5=df.iloc[:,1:2]
print(df5)
df6=df.iloc[0:2,1:3]
print(df6)

  Name  Age  class  subject
0   ud   11      6     math
1   bh   13      8  science
2   av   15     10      sst
  Name  subject
0   ud     math
1   bh  science
2   av      sst
   Age  class  subject
0   11      6     math
1   13      8  science
2   15     10      sst
  Name  Age
1   bh   13
2   av   15
  Name  Age  class  subject
1   bh   13      8  science
2   av   15     10      sst
   Age
0   11
1   13
2   15
   Age  class
0   11      6
1   13      8

In [28]:
# %load panda16.py
import pandas as pd
data=pd.read_csv("nba.csv",index_col="Name")
print(data)
data.drop(["Team","Weight"],axis=1,inplace=True)
print(data)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]
               Number Position   Age Height            College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette  6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University        NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State  1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
...               ...      ...   ...    ...                ...        ...
Shelvin Mack      8.0       PG  26.0    6-3             Butler  2433333.0
Raul Neto        25.0       PG  24.0    6-1                NaN   900000.0
Tibor Pleiss     21.0        C  26.0    7-3                NaN  2900000.0
Jeff Withey      24.0        C  26.0    7-0             Kansas   947276.0
NaN               NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 6 columns]

In [29]:
# %load panda17.py
import pandas as pd
data=pd.read_csv("nba.csv",index_col="Name")
first=data.loc["Avery Bradley"]
second=data.loc["R.J. Hunter"]
print(first,"\n\n\n", second)
rows=data.loc[["Avery Bradley","R.J. Hunter"]]
print(type(rows))
print(rows)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object
<class 'pandas.core.frame.DataFrame'>
                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [30]:
# %load panda18.py
import pandas as pd
data=pd.read_csv("nba.csv",index_col="Team")
rows=data.loc["Utah Jazz"]
print(type(rows))
print(rows)

<class 'pandas.core.frame.DataFrame'>
                     Name  Number Position   Age Height  Weight       College  \
Team
Utah Jazz   Trevor Booker    33.0       PF  28.0    6-8   228.0       Clemson
Utah Jazz      Trey Burke     3.0       PG  23.0    6-1   191.0      Michigan
Utah Jazz      Alec Burks    10.0       SG  24.0    6-6   214.0      Colorado
Utah Jazz      Dante Exum    11.0       PG  20.0    6-6   190.0           NaN
Utah Jazz  Derrick Favors    15.0       PF  24.0   6-10   265.0  Georgia Tech
Utah Jazz     Rudy Gobert    27.0        C  23.0    7-1   245.0           NaN
Utah Jazz  Gordon Hayward    20.0       SF  26.0    6-8   226.0        Butler
Utah Jazz     Rodney Hood     5.0       SG  23.0    6-8   206.0          Duke
Utah Jazz      Joe Ingles     2.0       SF  28.0    6-8   226.0           NaN
Utah Jazz   Chris Johnson    23.0       SF  26.0    6-6   206.0        Dayton
Utah Jazz      Trey Lyles    41.0       PF  20.0   6-10   234.0      Kentucky
Utah Jazz    Shelvin Mack     8.0       PG  26.0    6-3   203.0        Butler
Utah Jazz       Raul Neto    25.0       PG  24.0    6-1   179.0           NaN
Utah Jazz    Tibor Pleiss    21.0        C  26.0    7-3   256.0           NaN
Utah Jazz     Jeff Withey    24.0        C  26.0    7-0   231.0        Kansas

               Salary
Team
Utah Jazz   4775000.0
Utah Jazz   2658240.0
Utah Jazz   9463484.0
Utah Jazz   3777720.0
Utah Jazz  12000000.0
Utah Jazz   1175880.0
Utah Jazz  15409570.0
Utah Jazz   1348440.0
Utah Jazz   2050000.0
Utah Jazz    981348.0
Utah Jazz   2239800.0
Utah Jazz   2433333.0
Utah Jazz    900000.0
Utah Jazz   2900000.0
Utah Jazz    947276.0

In [31]:
# %load panda19.py
import pandas as pd
data=pd.read_csv("nba.csv",index_col="Name")
rows=data.loc["Avery Bradley": "Isaiah Thomas"]
print(type(rows))
print(rows)

<class 'pandas.core.frame.DataFrame'>
                           Team  Number Position   Age Height  Weight  \
Name
Avery Bradley    Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder      Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland     Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter      Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko    Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson     Boston Celtics    90.0       PF  29.0    6-9   240.0
Jordan Mickey    Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk     Boston Celtics    41.0        C  25.0    7-0   238.0
Terry Rozier     Boston Celtics    12.0       PG  22.0    6-2   190.0
Marcus Smart     Boston Celtics    36.0       PG  22.0    6-4   220.0
Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
Isaiah Thomas    Boston Celtics     4.0       PG  27.0    5-9   185.0

                           College      Salary
Name
Avery Bradley                Texas   7730337.0
Jae Crowder              Marquette   6796117.0
John Holland     Boston University         NaN
R.J. Hunter          Georgia State   1148640.0
Jonas Jerebko                  NaN   5000000.0
Amir Johnson                   NaN  12000000.0
Jordan Mickey                  LSU   1170960.0
Kelly Olynyk               Gonzaga   2165160.0
Terry Rozier            Louisville   1824360.0
Marcus Smart        Oklahoma State   3431040.0
Jared Sullinger         Ohio State   2569260.0
Isaiah Thomas           Washington   6912869.0

In [32]:
# %load panda20.py
import pandas as pd
data=pd.read_csv("nba.csv")
row1=data.iloc[3]
row2=data.loc[3]
row1==row2
print("row 1\n",row1)
print(row2)
row2=data.iloc[[4,5,6,7]]
row3=data.iloc[4:8]
print(row2)
print(row3)

row 1
 Name           R.J. Hunter
Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: 3, dtype: object
Name           R.J. Hunter
Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: 3, dtype: object
            Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

   College      Salary
4      NaN   5000000.0
5      NaN  12000000.0
6      LSU   1170960.0
7  Gonzaga   2165160.0
            Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

   College      Salary
4      NaN   5000000.0
5      NaN  12000000.0
6      LSU   1170960.0
7  Gonzaga   2165160.0

In [33]:
# %load panda21.py
import pandas as pd
data = pd.DataFrame({
    'Name': ['Geek1', 'Geek2', 'Geek3', 'Geek4', 'Geek5'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]
})
data.set_index('Name', inplace=True)
print("Original DataFrame:")
print(data)
row_alice = data.iloc[0, :]
print("\nExtracted Row (Geek1):")
print(row_alice)
rows_geek2_to_geek3 = data.iloc[1:3, :]
print("\nExtracted Rows (Geek2 to Geek3):")
print(rows_geek2_to_geek3)

Original DataFrame:
       Age  Salary
Name
Geek1   25   50000
Geek2   30   60000
Geek3   22   45000
Geek4   35   70000
Geek5   28   55000

Extracted Row (Geek1):
Age          25
Salary    50000
Name: Geek1, dtype: int64

Extracted Rows (Geek2 to Geek3):
       Age  Salary
Name
Geek2   30   60000
Geek3   22   45000

In [34]:
# %load panda22.py
import pandas as pd
data=pd.read_csv("nba.csv")
print("DataSet")
print(data.head(5))
first=data["Age"]
print(first.head())

DataSet
            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [35]:
# %load panda23.py
import pandas as pd
data=pd.read_csv("nba.csv",index_col="Name")
selection=data.loc[["Avery Bradley", "R.J. Hunter"],["Team", "Number", "Position"]]
print(selection)
value=data.at["Avery Bradley","Team"]
print(value)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
R.J. Hunter    Boston Celtics    28.0       SG
Boston Celtics

In [36]:
# %load panda24.py
import pandas as pd
dict={'Name':["ud","bh","av"],
      'class':[1,2,3],
      'score':[90,80,70]}
df=pd.DataFrame(dict,index=[True,False,True])
print(df)
print(df.loc[True])
print(df.iloc[2])

      Name  class  score
True    ud      1     90
False   bh      2     80
True    av      3     70
     Name  class  score
True   ud      1     90
True   av      3     70
Name     av
class     3
score    70
Name: True, dtype: object

In [37]:
# %load panda25.py
import pandas as pd
 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
df = pd.DataFrame(dict, index = [0, 1, 2, 3])
 


print(df[[True, False, True, False]])#sirf true vale hi show honge

     name  degree  score
0  aparna     MBA     90
2  sudhir  M.Tech     80

In [38]:
# %load panda26.py
import pandas as pd
data=pd.read_csv("nba.csv",index_col="Name")
print(data['Age']>25)

Name
Avery Bradley    False
Jae Crowder      False
John Holland      True
R.J. Hunter      False
Jonas Jerebko     True
                 ...
Shelvin Mack      True
Raul Neto        False
Tibor Pleiss      True
Jeff Withey       True
NaN              False
Name: Age, Length: 458, dtype: bool

In [39]:
# %load panda27.py
import pandas as pd
 
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["BCA", "BCA", "M.Tech", "BCA"],
        'score':[90, 40, 80, 98]}
 

df = pd.DataFrame(dict, index = [0, 1, 2, 3])

mask = df.index <=1 

print(df[mask])

     name degree  score
0  aparna    BCA     90
1  pankaj    BCA     40