In [1]:
print("panda 1")

hello world

In [3]:
# %load panda1.py
import pandas as pd
df=pd.DataFrame()
print(df)

lst=["you","were","my","brother","anakin","you were","meant","destroy the sith","not join them"]
df1=pd.DataFrame(lst)
print(df1)

Empty DataFrame
Columns: []
Index: []
                  0
0               you
1              were
2                my
3           brother
4            anakin
5          you were
6             meant
7  destroy the sith
8     not join them

In [4]:
%run panda2.py

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
# %load panda3.py
import pandas as pd
dict={'name':["y2j","hbk","the rock","hhh"],
      'degree':["10th pass","12 the pass","btech","ba"],
      'score':[90,40,80,98]}
df=pd.DataFrame(dict)
print(df)

       name       degree  score
0       y2j    10th pass     90
1       hbk  12 the pass     40
2  the rock        btech     80
3       hhh           ba     98

In [9]:
# %load panda4.py
import pandas as pd
data=[1,2,3,4,5,6,7,8,9,10,11,12,13]
ser=pd.Series(data)
print(ser)
print("element at index 3 : ",ser[3])
print(ser[:7:2])
str="udbhav dubey"
strl=list(str)
ser=pd.Series(strl,index=[10,11,12,13,14,15,16,17,18,19,20,21])
print(ser[15])

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
dtype: int64
element at index 3 :  4
0    1
2    3
4    5
6    7
dtype: int64
v

In [10]:
# %load panda5.py
import pandas as pd
df=pd.read_csv("pandacsv.csv")
print(df)
ser=df['Name']
print(ser)
print("now using loc we do first 2 : ")
print(ser.loc[0:2])
print(df.iloc[0:2,0])

      Name  Age   Department  Salary
0    Alice   25           HR   50000
1      Bob   30  Engineering   75000
2  Charlie   35      Finance   65000
3    David   40    Marketing   70000
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
now using loc we do first 2 :
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
0    Alice
1      Bob
Name: Name, dtype: object

In [17]:
# %load panda6.py
import pandas as pd
ser1= pd.Series([1,2,3],index=['A','B','c'])
ser2= pd.Series([4,5,6],index=['A','B','C'])
df_sum=ser1.add(ser2)
print(df_sum)

ser=pd.Series([1,2,3,4])
ser=ser.astype(float)
print(ser)

A    5.0
B    7.0
C    NaN
c    NaN
dtype: float64
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [18]:
# %load panda7.py
import pandas as pd
import numpy as np
ser=pd.Series()
print(ser)
data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)
st='udbhav'
stl=list(st)
ser1=pd.Series(stl)
print(ser1)
data_dict = {'Geeks': 10, 'for': 20, 'geeks': 30}
ser2=pd.Series(data_dict)
print(ser2)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object
0    u
1    d
2    b
3    h
4    a
5    v
dtype: object
Geeks    10
for      20
geeks    30
dtype: int64

In [19]:
# %load panda8.py
import pandas as pd
import numpy as np
ser1=pd.Series(np.linspace(1,10,25))
print(ser1)
ser2=pd.Series(np.random.randn(3))
print(ser2)

0      1.000
1      1.375
2      1.750
3      2.125
4      2.500
5      2.875
6      3.250
7      3.625
8      4.000
9      4.375
10     4.750
11     5.125
12     5.500
13     5.875
14     6.250
15     6.625
16     7.000
17     7.375
18     7.750
19     8.125
20     8.500
21     8.875
22     9.250
23     9.625
24    10.000
dtype: float64
0   -0.195513
1    0.204897
2    0.814103
dtype: float64

In [20]:
# %load panda9.py
import pandas as pd
ser=pd.Series(range(5,15))
print(ser)
ser1=pd.Series(range(1,20,3),index=[x for x in 'abcdefg'])
print(ser1)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64
a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64